<%= form_with url: login_path, local: true do |form| %>
  <%= flesh_alert(flash) %>

  <p>
    <%= form.label :email %>
    <%= form.text_field :email, id: :email %>
  </p>

  <p>
    <%= form.label :password %>
    <%= form.password_field :password, id: :password %>
  </p>

  <p><%= form.submit "Enter" %></p>
<% end %>
